<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel = "stylesheet" href="css/styles.css">
        <link rel = "icon" href="/img/weather.png">
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap" rel="stylesheet">
        </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Sanjeev . It uses data from mapbox.com and weatherstack.com .</p>
            <img class="portrait" src="img/mypic.jpg">
            <p>I am final year student of <span>B.tech Cse</span> . I love to sit and code for hours without getting bored.Currently i am looking for an internship.</p>
            </P>
            <h3>My contact detail</h3>
            <p>E-mail:   sanjeevkr4983@gmail.com</p>
            <p>Contact No.  +919128473604</p>

        </div>
        
        {{>footer}}
        <script src = "/js/app.js"></script>

    </body>
</html>